In [1]:
# Import statements
import pandas as pd

# Load data set
df = pd.read_csv('C:\Users\Erin.Crump\Documents\Course Dev\All Datasets\Rankings_2022.csv')
df.head()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (221209009.py, line 5)

In [11]:
# Question 1: In the given tennis data, which key-value pair represents the player who has the highest points?
df[['name', 'points']].sort_values('points', ascending = False).head(1)

             name  points
0  Novak Djokovic   11015

In [13]:
# Question 2: Sort the data by tennis player name in ascending order (A-Z).
# Create a dictionary using the first 5 tennis players (alphabetically), where the player's name is the key and their corresponding rank is the value.
# Among these 5 players, identify the tennis player who holds the highest rank.

df.sort_values('name').head()

,rank,name,country_name,country_id,points,bestRank,bestRankDate,rankDiff,pointsDiff,bestPoints
57,58,Adrian Mannarino,France,FRA,1049,22,2018-03-19,11.0,170.0,1735
43,44,Albert Ramos,Spain,ESP,1259,17,2017-05-08,0.0,0.0,2180
46,47,Alejandro Davidovich Fokina,Spain,ESP,1160,32,2021-08-30,3.0,0.0,1723
143,144,Alejandro Tabilo,Chile,CHI,483,135,2021-11-29,-9.0,-35.0,518
139,140,Aleksandar Vukic,Australia,AUS,504,140,2022-01-31,4.0,27.0,504

In [29]:
players = [
    {'name': 'Adrian Mannarino', 'rank' : 58},
    {'name': 'Albert Ramos', 'rank' : 44},
    {'name': 'Alejandro Davidovich Fokina', 'rank' : 47},
    {'name': 'Alejandro Tabilo', 'rank' : 144},
    {'name': 'Aleksandar Vukic', 'rank' : 140}
]

rank = 1000 # Arbitrary high rank
name = ''

for player in players:
    if player['rank'] < rank:
        rank = player['rank']
        name = player['name']

print(name)

Albert Ramos

In [30]:
# Question 3: What is the rank of the tennis player from the previous question?
print(rank)

44

In [31]:
# Question 4: 1. Find the player with the rank of 100
df[df['rank'] == 100]

# 2. Create a dictionary for this player called 'middle_rank_player' with key value pairs for rank, name, country name, and points.
middle_rank_player = {
    'name' : 'Steve Johnson',
    'rank' : 100,
    'country_name' : 'United States',
    'points' : 719
}

# 3. From the dictionary you just created, get the value for this players' points.
middle_rank_player['points']

719

In [32]:
# Question 5: If the player from above lost his next several matches and dropped in rank by 2 places, how would you correctly update the dictionary from above to reflect the change?

middle_rank_player['rank'] += 2
middle_rank_player['rank']

102

In [44]:
# Question 6: Create a list named 'the_greats' with the top 5 tennis players by rank. If you wanted to access just Rafael Nadal from your list, what index position would you need to put in the following code:
# the_greats[ ? ]
top_five_players = df.sort_values('rank', ascending = True).head()

the_greats = []
for i, row in top_five_players.iterrows():  # Use .iterrows() to iterate over rows
    the_greats.append(row['name'])

# print(the_greats)
print(the_greats[4])

Rafael Nadal

In [45]:
# Question 7: What is the expected output for the following code?
rank_1 = {
    'name': 'Novak Djokovic',
    'points': 11015
}
rank_2 = {
    'name': 'Daniil Medvedev',
    'points': 10125
}
rank_3 = {
    'name': 'Alexander Zverev',
    'points': 7780
}
players = [rank_1 , rank_2, rank_3]


for best in players:
    print(best['points'])

11015
10125
7780

In [47]:
# Question 8: Use a for loop to iterate through the players list from the previous question. Inside the loop, print the name of each player.
# Copy and paste your code below.

for player in players:
  print(player['name'])

Novak Djokovic
Daniil Medvedev
Alexander Zverev

In [49]:
# Question 9: Create a for loop to calculate and print the average points of the tennis players from the list of dictionaries called top_3_greats given below:
top_3_greats = [
         { 'name': 'Novak Djokovic', 'points': 11015 },
         {'name': 'Daniil Medvedev', 'points': 10125},
         {'name': 'Alexander Zverev', 'points': 7780}
]
# What is the average points scored for these three tennis players?
sum = 0
count = 0

for great in top_3_greats:
  sum += great['points']
  count += 1

sum / count

9640.0

In [48]:
# Question 10:
tennis_players = [
    {'name': 'Novak Djokovic', 'country': 'Serbia', 'rank': 1},
    {'name': 'Daniil Medvedev', 'country': 'Russian Federation', 'rank': 2},
    {'name': 'Alexander Zverev', 'country': 'Germany', 'rank': 3},
    {'name': 'Stefanos Tsitsipas', 'country': 'Greece', 'rank': 4},
    {'name': 'Rafael Nadal', 'country': 'Spain', 'rank': 5}
]

# Using the list from above, which of the following options correctly represents the syntax of a for loop to iterate through the tennis players' data and print their names?
# You can copy and paste the list and the possible answers into Colab to test them out.

for player in tennis_players:
  print(player['name'])

Novak Djokovic
Daniil Medvedev
Alexander Zverev
Stefanos Tsitsipas
Rafael Nadal